body {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    font-family: PT Sans;
}

.text-decoration h2 {
    font-size: 21px;
}

.original h2 {
    font-size: 26px;
    /*color: #ffffff;*/
}

.city-group h2 {
    font-size: 26px;
}
    
.original h2 {
    font-size: 26px;
    /*color: #ffffff;*/
    
    
}
