@font-face {
    font-family: "PT Sans";
    src: url(fonts/pt_sans-bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "PT Sans";
    src: url(fonts/pt_sans-regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rec(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  background: #fff;
  box-shadow: 0 0 40px 0 #dbdbdb;
}

.site-navigation  {
   background-color: #ffffff;
   list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #cacaca;
}
/* активная страница незнаю что делать */
.site-navigation
 a.active-menu {
  color: #766357;
}
.title-text {
  background-color: #ffffff;
  text-align: center;
}

.title-text
.description-city {
  font-size: 21px;
  text-align: center;
}

.title-text
.text-item {
  text-align: center;
  font-weight: normal;
}

.original  {
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
}

.city-group {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.features {
  text-align: center;
  background-color: #eeeeee;
}

.original-text {
  font-size: 21px;
  line-height: 21px;
}

.original-number {
  font-weight: normal;
}

.original-item {
  font-weight: normal;
  line-height: 21px;
}

.text-decoration {
  background-color: #ffffff;
  text-align: center;
}

.text-decoration b {
  font-size: 30px;
  line-height: 36px;
}

.text-decoration p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.text-decoration a {
  color: #ffffff;
  font-size: 21px;
  background-color: #766357;
  height: 88px;
  line-height: 4;
}

.text-decoration a:hover {
  background-color: #604e43;
}

.text-decoration a:focus {
  background-color: #503e33;
}
.filter-search {
  background-color: #ffffff;
}

.filter-search input {
  font: inherit;

  background-color: #f2f2f2;
  border: none;
}

.filter-search input:hover {
  background-color: #ebebeb;
}

.filter-search input:focus {
  background-color: #ffffff;
}

.filter-search a {
  font-size: 21px;
  color: #ffffff;
  background-color: #81b3d2;
}

.filter-search a:hover {
  background-color: #669ec0
}

.filter-search a:focus {
  color: #94b9d2;
  background-color: #5496bd;
}

.main-footer {
  background-color: #f9fbf6;
}

.footer-contact a {
  font-size: 21px;
  color: #000000;
  text-decoration: underline;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}


.social-button:focus path{
  fill: #88b6d1;
  background: #5496bd;
}

.social-button:hover{
  background: #669ec0;
}

.footer-copyright{
  text-align: center;
}

.footer-copyright a:hover path {
    fill: #81b3d2;
}

.footer-copyright a:focus path  {
    fill: #bdbbbc;
}

.footer-copyright b {
  font-weight: normal;
}


.filters {
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  background-image: url(../img/background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-button{

  border: 3px solid #ffffff;

}

.sort-list {
  background-color: #fefefe;
}

.sort-list ul {
  list-style: none;
}

.sort-list-name a {
  font-size: 12px;
  line-height: 18px;
  color: #d2d2d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-list-name a:hover {
  color: #81b3d2;
}

.sort-list-name a:focus {
  color: #000000;
  border-bottom: none;
}

.hotels-catalog {
  background-color: #fefefe;
}


.catalog-item-title {
  font-size: 21px;
 }

.catalog-item-title a {
  color: #000000;
}

.catalog-item-title a:hover {
  color: #81b3d2;
}

.catalog-item-title a:focus {
  color: #cacaca;
}

.catalog-item-price span {
  font-weight: normal;
}

.button-read {
  color: #ffffff;
  background-color: #81b3d2
}

.button-read:hover {
  background-color: #669ec0;
}

.button-read:focus {
  color: #94b9d2;
  background-color: #5496bd;
}

.button-bookit {
  color: #ffffff;
  background-color: #766357;
}

.button-bookit:hover {
  background-color: #604e43;
}

.button-bookit:focus {
  color: #928a85;
  background-color: #503e33;
}


/* сетки */

body,
html {


}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/* меню готово, только переполнение не работает
как нужно!! с псевдоклассами игрался, не получилось!*/

main-header {
 position: relative;
 margin: 0;
 padding: 0;    
}


.site-navigation {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;    
 min-height: 56px;    
 margin: 0;
 padding: 0;
}

.menu-items {
 text-align: center;
 width: 20%;    
}

.menu-items:nth-child(2) {
margin-right: 20%;
}

  
.logo {
 position: absolute;
 
}

/*-----*/

/* главная картинка, не знаю нужен ли ей флекс,
думаю, что нет. высота и ширина задана в html*/

.image-mountains {
  line-height: 0;
}

/*-----*/

/* блок с текстом тоже переделал, перемерил */

.title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.title-text h2 {
  margin: 0;
  padding: 0 365px;
  padding-top: 60px;
  padding-bottom: 29px;
}

.title-text p {
  margin: 0;
  padding: 0 353px;
  padding-bottom: 48px;
}

/*-----*/

.original {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.text-content {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.superiority-one h2 {
  margin: 0;
  padding: 0;
  margin: 0 133px;
  margin-top: 46px;

}

.superiority-one span {
  margin: 20px auto;
}

.superiority-one p {
  margin: 0;
  padding: 0;
  margin: 0 55px;
  margin-bottom: 42px;
}

.image-content{
    line-height: 0;
}

.superiority-two {
  display: flex;
  flex-direction: column;
 }

.superiority-two h2{
  margin: 0;
  padding: 0;
  margin: 0 120px;
  margin-top: 46px;

}

.superiority-two span {
  margin: 20px auto;

}

.superiority-two p {
  margin: 0 45px;
  margin-bottom: 46px;
}

.city-group {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.list-group {
  margin: 0;
  padding: 0;
  width: 400px;

}

.home h2 {
  position: relative;
  padding: 0;
  margin: 0;
  padding: 0 160px;
  padding-top: 160px;
  margin-bottom: 25px;


}

.home h2::before {
  content: url(../img/icon-1.svg);
  position: absolute;
  display: block;
  bottom: 60px;
}

.home p {
  padding: 0;
  margin: 0;
  padding: 0 70px;
  margin-bottom: 82px;
}

.food h2 {
  position: relative;
  padding: 0;
  margin: 0;
  padding: 0 160px;
  padding-top: 160px;
  margin-bottom: 25px;
}

.food h2::before {
  content: url(../img/icon-3.svg);
  position: absolute;
  display: block;
  bottom: 60px;
}

.food p {
  padding: 0;
  margin: 0;
  padding: 0 54px;
  margin-bottom: 82px;
}

.souvenirs h2 {
  position: relative;
  padding: 0;
  margin: 0;
  padding: 0 160px;
  padding-top: 160px;
  margin-bottom: 25px;

}

.souvenirs h2::before {
  content: url(../img/icon-2.svg);
  position: absolute;
  display: block;
  bottom: 60px;
  left: 175px;

}

.souvenirs p {
  padding: 0;
  margin: 0;
  padding: 0 60px;
  margin-bottom: 82px;
}



.features {
    display: flex;
    justify-content: space-between;
}

.feature-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0;
  margin: 0;
}

.feature-item h2{
  margin: 0;
  padding: 0;
  margin: 0 130px;
  margin-top: 46px;

}

.feature-item
 span {
  margin: 20px auto;
}

.feature-item p {
  margin: 0;
  padding: 0;
  margin: 0 55px;
  margin-bottom: 63px;
}

.text-decoration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

}

.text-decoration b {
  margin-top: 52px;
  margin-bottom: 28px;
}

.text-decoration p {
  margin: 0 270px;
  margin-bottom: 50px;
}

.text-decoration a {
  margin: 0;
  padding: 0;
  padding: 0 135px;
}



.map {
  position: relative;   
  display: flex;
  margin-bottom: 0;    

}

.filter-search {
   
   position: absolute;
   left:320px;
   display: flex;
   flex-direction: column;
    margin: 0;
    padding: 0;
  
   padding: 55px 50px;
}

.arrival-date,
.date-departure {
    position: relative
}


.arrival-date input, 
.date-departure input {
    
    width: 297px;
    height: 38px;
    font-family: "PT sans bold", Arival, sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 40px; 
    margin-bottom: 30px;
    border: none;
    background: #f2f2f2;
}


.arrival-date
.calendar {
    position: absolute;
    top: 5px;
    left: 415px
    
}

.date-departure 
.calendar {
    position: absolute;
    left: 415px;
    top: 5px;
}

.arrival-date input {
    margin-left: 20px;
    
}

.date-departure input {
    margin-left: 17px;
}

.choice-quantity {
    display:  flex;
}

.adults input,
.children input {
    width: 115px;
    height: 38px;
    text-align: center;
}

.adults, 
.children {
    position: relative;
    margin: 0;
    padding: 0;
}

.adults input {
    margin-left: 40px;
}

.children input {
    margin-left: 20px;
}

.adults {
    margin-right: 50px;
}

 .adults 
.minus {
    position: absolute;
    left: 115px;
    top: 0px;
    border: none;
    height: 40px;
    width: 38px;
    font-size: 30px;
    color: #a9a9a9;
    text-align: center;
    line-height: inherit;
    background-color: #f2f2f2;
    
        
    
}

.children
.minus {
    position: absolute;
    left: 63px;
    top: 0px;
    border: none;
    height: 40px;
    width: 38px;
    font-size: 30px;
    text-align: center;
    line-height: inherit;
}

.adults 
.plus {
    position: absolute;
    left: 190px;
    top: 0px;
    width: 10px;
    border: none;
    height: 40px;
    width: 38px;
    font-size: 30px;
    color: #a9a9a9;
    text-align: center;
    line-height: inherit;
    background-color: #f2f2f2;
}

.children
.plus {
    position: absolute;
    left: 140px;
    top: 0px;
    border: none;
    height: 40px;
    width: 38px;
    font-size: 30px;
    color: #a9a9a9;
    text-align: center;
    line-height: inherit;
    background-color: #f2f2f2;
}







.main-footer{
  display: flex;
 
  align-items: center;    
  padding: 0;
      
}

.footer-contact{
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  padding: 50px 125px;
  width: 400px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 152px;
  margin: 0 auto;
  padding: 0;
}

.footer-social{
  margin: 35px 120px;
  margin-left: 0px;     
  width: 400px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px ;
  height: 48px;
  background-color: #81b3d2;
}

.footer-copyright{
  display: flex;
  align-items: center;    
  margin: 40px 0;
  margin-right: 100px;
  width: 400px;
}

.footer-copyright a {
    padding-left: 10px;
}




/* page hotel */

.filters {

    /* временно */
    min-height: 218px;
}

.sort-list {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    list-style: none;
}

.sort-list-search {
  width: 241px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sort-list-name {
  display: flex;
  justify-content: space-between;
  width: 288px;
  padding-top: 38px;
  padding-bottom: 32px;
}

.hotels-catalog {
  display: flex;
  flex-direction: column;
}

.catalog-item {
  display: flex;
  padding: 30px 72px;

  margin: 0;
}

.catalog-item-image {
   margin-right: 30px;
}

.catalog-details {
  display: flex;
}


.catalog-item-price h1 {
   padding: 0;
   margin: 0;
}

.catalog-item-details {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-top: 5px;
}

.catalog-item-booking {
  display: flex;
  flex-direction: column;

   margin-top: 5px;
}

.catalog-item-details a {
  text-align: center;
  width: 110px;
  margin-top: 8px;
}

.catalog-item-booking a {
  width: 142px;
  text-align: center;
  margin-top: 8px;
}

.catalog-item-reyting {
  /* пока так другого свойства не знаю */
  margin-left: 520px;
}

.filter {
  display: flex;
  padding: 27px 73px;
}

.filter-option-column-1 {
  display: flex;
  flex-direction: column;
  margin-right: 105px;
}



.filter-option-column-2 {
  display: flex;
  flex-direction: column;
  margin-right: 500px;
}

.filter-option-column-3 {
  display: flex;
  flex-direction: column;

}


.filter-button {
   width: 150px;
   margin-top: 95px;
   display: inline-block;

}
.filter input {
  margin-top: 25px;
}








